# Site settings
title: My Java Blog
email: your.email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Java articles and tutorials
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://venkatram64.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  venkatram64

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .idea
  - .vscode

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Add this to your _config.yml
head_scripts:
  - <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

# Collections
collections:
  posts:
    output: true
    permalink: /:year/:month/:title/
    sort_by: date
    sort_direction: descending
    future: true  # Show future-dated posts